* {
  box-sizing: border-box;
}

.container {
   width: 50%;
    margin: 0 auto;
/*  text-align: center;*/
}

.background {
 /* background-color: #FF9900;*/
    /*background: radial-gradient( #075875, #293f50);*/
  height: 500px;
  width: 100%;
  position: relative;
}


/* ----------- Non-Retina Screens ----------- 
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
}
*/
/* ----------- Retina Screens -----------
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 
}
 */


/*Navigation*/
/*.index {
  font-family: 'Fira Sans', sans-serif;
}*/
/*.container {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

ul li {
  display: inline;
  text-align: center;
}

a {
  display: inline-block;
  width: 25%;
  padding: .75rem 0;
  margin: 0;
  text-decoration: none;
  color: #333;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 300;
}

.two:hover ~ hr {
  margin-left: 25%;
}

.three:hover ~ hr {
  margin-left: 50%;
}

.four:hover ~ hr {
  margin-left: 75%;
}

hr {
  height: .25rem;
  width: 25%;
  margin: 0;
  background: #fff;
  border: none;
  transition: .3s ease-in-out;
}
*/


/*Header/Navbar/Backgroundimage*/
header {
  padding-top: 50px;
  background-color: #858585;
/*    background: radial-gradient( #075875, #293f50);*/
  height: 400px;
  width: 100%;
  text-align: center;
  position: relative;

}
header p {
  padding-top: 160px;
  text-align: center;
  font-size: 1em;
  padding: 1%;
}
h2 {
  margin-top: 50px;
  font-family: 'Fira Sans', sans-serif;
  font-size: 2.5em;
}
.logo {
  height: 200px;
  width: 200px;
 /* border: 10px solid #fff;*/
}


/*main-content*/
.main-content  {
/*  background-color: #e6f3f7;*/
/*  padding: 20px 100px;*/
  height: 450px;
/*  background-color: #777777;*/
  width: 100%;
  text-align: center;
  position: relative;
  padding: 5px 20px;
/*background-color: #FF9900;*/
/*  position: relative;
  padding: 5px 5px;*/
}
.main-content h3 {
/*   margin-top: 55px;*/
  display: inline-block;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 300;
  font-size: 2.5em;
}
.main-content .geolocation p {
  font-size: 20px;
  font-family: 'Fira Sans', sans-serif;
 /* color: #3fd218;*/
  padding: 5px 20px;
}
.main-content .container p {
  text-align: center;
  position: relative;
  padding: 5px 20px;
  font-size: 1.5em;


}


/*clickjack*/
.clickjack  {
/*  background-color: #deeff5;*/
/*  background-color: #858585;*/
background-color:#919191;
  height: 400px;
  width: 100%;
  text-align: center;
  position: relative;
  padding: 5px 20px;
/*  border: 10px solid #fff;*/
}
.clickjack h3 {
/*   margin-top: 55px;*/
  display: inline-block;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 300;
  font-size: 2.5em;
}
.clickjack p {
/*    padding: 5px 50px;*/
  font-family: 'Fira Sans', sans-serif;
   font-size: 20px;
}



/*information*/
.information  {
/*  background-color: #deeff5;*/
  height: 400px;
  width: 100%;
  text-align: center;
/*  position: relative;
  padding: 5px 5px;*/
}
.information h3 {
/*   margin-top: 55px;*/
  display: inline-block;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 300;  
  font-size: 2.5em;
}
.information p {
  font-family: 'Fira Sans', sans-serif;
  font-size: 20px;

}


/*Click Me Opacity*/
.container button { /*Hides Button*/
  font-family: 'Fira Sans', sans-serif;
  font-weight: 300; 
  margin-bottom: 20px;
}


/*back button facebook*/
.form { /*back button for login page */
  text-align: center;
  padding-bottom: 40px;
  padding-top: 40px;
}
.form h4 {
  display: inline-block;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 500;  
  font-size: 2.5em;
}


/*blinking*/
p.tabblink { color: blue; }
/*  color: #FF9900;
    display: inline-block;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 500;  
  font-size: 2.5em;*/
.button {
  opacity: 0;
}





































/*Back to the Top*/
.cd-top {
  display: inline-block;
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 40px;
  right: 10px;
  border: 5px solid transparent #333333;
  border-radius: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;  white-space: nowrap;
  background: rgba(232, 98, 86, 0.8) url(../img/cd-top-arrow.svg) no-repeat center 50%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
}
.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}
.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}
.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .5;
}
.no-touch .cd-top:hover {
  background-color: #e86256;
  opacity: 1;
}
@media only screen and (min-width: 768px) {
  .cd-top {
    right: 20px;
    bottom: 20px;
  }
}
@media only screen and (min-width: 1024px) {
  .cd-top {
    height: 60px;
    width: 60px;
    right: 30px;
    bottom: 30px;
  }
}
/*Back to the Top Ends*/